body {
    text-align: center;
}
h1 {
    text-align: center;
    margin: 2rem;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    width:100%;
}
.plantContainer {
    margin: 2rem auto;
    max-width:45%;
}
#pageOneImage {
    margin:0 auto;
    padding:0;
    max-width: 50%;
}
h3 {
    margin: 2rem;
    padding:0;
}