/* @import url("https://fonts.google.com/specimen/Nunito?query=nunito&sidebar.open=true&selection.family=Nunito:wght@200;300;400;600;700");
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 17px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
} */

.footer {
  /* Primary colour */
  --primary-colour: #0c5e3c;

  /* Secundary colour */
  --secundary-colour: #f1f1f1;

  /* Vivid green */
  --pale-green: #87f395;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* flex-flow: row wrap; */
  /* padding: 30px 30px 20px 30px; */
  /* color: #2f2f2f; */
  width: 100vw;
  background-color: var(--secundary-colour);
  color: var(--primary-colour);
  /* background-color: #fff; */
  /* border-top: 1px solid #e5e5e5; */
}

.footer__nav {
  width: 170px;
  /* margin: 0 auto; */
}

.footer-wrapper {
  /* max-width: 768px; */
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  padding: 0 40px;
}

.footer-wrapper h4 {
  /* text-align: center; */
  display: flex;
  align-items: center;  
  font-size: 1rem;
  font-weight: 700;
  margin: 10px auto;
  /* color: #000; */
  height: 32px;
  /* align-self: center; */
}

.footer-wrapper ul {
  /* padding: 0 10px; */
  text-align: left;
  width: 170px;
  height: 200px;
  /* padding: 0 10px; */
}

.footer__addr {
  text-align: left;
  padding: 0 20px;
  /* width: 200px; */
}

/* .footer > * {
  flex: 1 100%;
}
.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
} */

.footer__logo {
  color: #000;
  align-self: center;
  font-weight: 700;
  font-size: 1.5rem;
  /* margin-bottom: 10px; */
  text-align: left;
  margin: 0;
  padding: 20px 0;
}

.footer address {
  font-style: normal;
}

.nav__item {
  width: 160px;
  margin: 0 10px;
}

/* .footer_contact {
  margin-bottom: 20px;
}
.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}
.nav__title {
  font-weight: 400;
  font-size: 15px;
}
.footer address {
  font-style: normal;
  color: #999;
} */

/* .footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0 0 3.2em;
  font-size: 1rem;
  padding: 0 1.3em;
} */

.footer__btn {
  font-size: 1rem;
  /* font-weight: 600; */
  color: var(--secundary-colour);
  /* color: #000; */
  width: 120px;
  height: 35px;
  outline: none;
  border-radius: 50px;
  margin-top: 30px;
  background-color: var(--primary-colour);
}

.footer ul {
  list-style: none;
  width: 170px;
  /* padding-left: 0; */
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
  color: var(--primary-colour);
}

.footer__nav {
  display: flex;
  /* flex-flow: row wrap; */
}

 /* .footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}  */


.nav__ul a {
  color: var(--primary-colour);
  /* color: #408697; */
  /* color: #0c5e3c; */
}

.nav__ul--extra {
  column-count: 1;
  column-gap: 1.25em;
}

.legal {
  /* display: block; */
  /* display: flex;
  flex-wrap: wrap; */
  color: #000;
  align-self: center;
  padding: 40px 0;
}

.legal__links {
  display: flex;
  align-items: center;
}

/* @media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}
@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  .nav__item--extra {
    flex-grow: 2;
  }
  .footer__addr {
    flex: 1 0px;
  }
  .footer__nav {
    flex: 2 0px;
  }
}
.nav-github {
  color: gray;
}
.footer__logo {
  color: gray;
}
.footer-contact {
  color: gray;
}
.nav__title {
  color: grey;
  font-weight: 800;
} */